.cshrc
Core/.n*
Core/DVEfiles/
Core/csrc/
Core/work/
Core/simv.daidir/
Core/*.log
debug*
Core/debug*
fpu/sapr/
fpu/sim/*/simv.daidir/
fpu/sim/*/DVEfiles/
fpu/sim/*/work/
fpu/sim/*/csrc/
fpu/sim/*/__pycache__/
